.o-flex {
  display: flex;
  &--direction-column {
    flex-direction: column;
  }
  &--center {
    justify-content: center;
    align-items: center;
  }
  &--space-between {
    justify-content: space-between;
  }
  &--flex-end {
    justify-content: flex-end;
  }
  &__vertical--center {
    align-items: center;
  }
  &__grow {
    &--3 {
      flex-grow: 3;
    }
    &--2 {
      flex-grow: 2;
    }
    & {
      flex-grow: 1;
    }
  }
}
