.c-walkthrough {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 1rem;
}

.c-walkthrough-bottom {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .c-walkthrough-bottom__buttons {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
}